
  .container{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 85%;
    background: #0bbf6537;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .vasen{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .vasen::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .vasen .details{
    margin: 14px;
    text-align: center;
  }
  .content .vasen .details i{
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
  }
  .content .vasen .details .otsikko{
    font-size: 18px;
    font-weight: 500;
  }
  .content .vasen .details .text-one,
  .content .vasen .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  .container .content .oikea{
    width: 75%;
    margin-left: 75px;
  }
  .content .oikea .otsikko-text{
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
  }
  .oikea .teksti-boksi{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .oikea .teksti-boksi input,
  .oikea .teksti-boksi textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .oikea .message-box{
    min-height: 110px;
  }
  .oikea .teksti-boksi textarea{
    padding-top: 6px;
  }
  .oikea .button{
    display: inline-block;
    margin-top: 12px;
  }
  .oikea .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #3e2093;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button input[type="button"]:hover{
    background: #5029bc;
  }